.ssv-subscribe{
     max-width: 1006px;
     width: 100%;
     margin: auto;
    .title{
        font-size: 36px;
        font-family: Helvetica-Bold;
        font-weight: 700;
        color: #fff;
        margin-top: 30px;
    }
    &-card{
        position: relative;
       width: 100%;
        background: #161725;
        max-height: 518px;
        overflow: auto;
        border-radius: 40px;
        padding: 34px 30px;
        .title{
        font-size: 24px;
        font-family: Helvetica, Helvetica-Bold;
        font-weight: 700;
        color: #1ba5f8;
        margin-bottom: 40px;
        }
        .title-text{
            font-size: 36px;
            font-family:  Helvetica-Bold;
            font-weight: 700;
            color: #fff;
        }
        .card-icons{
            position: absolute;
            top: 48px;
            right: 30px;
        }
        &-item{
            .metric_groups{
                margin-top: 20px;
                &_header{
                    display: flex;
                    align-items: center;
                    .name{
                    font-size: 18px;
                    font-family: Helvetica-Bold;
                    font-weight: 700;
                    margin-left: 12px;
                    }
                }
                &_content{
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 14px;
                    row-gap: 14px;
                    margin-top: 14px;
                    .token-item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(~'50%' - 7px);
                    line-height: 46px;
                    padding: 0px 12px;   
                    border: 1px solid #949fae;
                    border-radius: 6px;   
                       
                    }
                    
                }
            }
        }
    }
    .subscribe-label{
        margin: 20px 0px;
        border: 1px solid #949fae;
        border-radius: 6px;
        height: 46px;
        background: transparent;
        color: #fff;
    }
    .subscribe-btn{
        width: 200px;
        height: 46px;
        border-radius: 23px;
    }
}

.sbuscribe-detail{
  
    &-card{
        font-size: 16px;
        font-family: Helvetica, Helvetica-Regular;
        font-weight: 400;
        text-align: left;
        color: #ffffff;
        .header{
        display: flex;
        align-items: center;
        font-size: 18px;
        font-family:  Helvetica-Bold;
        font-weight: 700;
        color: #fff;
        .name{
            margin-left: 10px;
        }
        }
        .title{
            font-size: 24px;
            font-family: Helvetica-Bold;
            font-weight: 700;
            color: #fff;
            &-detail{
            display: block;
            font-size: 18px;
            font-family: Helvetica;
            font-weight: 400;
            color: #898a92;
            }
        }
        &-content{
         
        }
    }
    
}

.item-select-wrap{
    background-color: #0E0E1A;
    .ant-empty-description{
        color:#fff;
    }
}