.ssv-subscribe{
    .title{
        font-size: 36px;
        font-family: Helvetica-Bold;
        font-weight: 700;
        color: #fff;
    }
    &-card{
        width: 1006px;
        background: #161725;
        height: 518px;
        overflow: auto;
        border-radius: 40px;
        padding: 34px 30px;
        .title{
        font-size: 24px;
        font-family: Helvetica, Helvetica-Bold;
        font-weight: 700;
        color: #1ba5f8;
        margin-bottom: 40px;
        }
        &-item{
            .metric_groups{
                margin-top: 20px;
                &_header{
                    display: flex;
                    align-items: center;
                    .name{
                    font-size: 18px;
                    font-family: Helvetica-Bold;
                    font-weight: 700;
                    margin-left: 12px;
                    }
                }
                &_content{
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 14px;
                    row-gap: 14px;
                    margin-top: 14px;
                    .token-item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(~'50%' - 7px);
                    line-height: 46px;
                    padding: 0px 12px;   
                    border: 1px solid #949fae;
                    border-radius: 6px;   
                       
                    }
                    
                }
            }
        }
    }
}

.sbuscribe-detail{
    .ant-modal-content{
        height: 530px;
        background: #2e304c;
        border-radius: 6px;
    }
    &-card{
        .header{
        display: flex;
        align-items: center;
        font-size: 18px;
        font-family:  Helvetica-Bold;
        font-weight: 700;
        color: #fff;
        .name{
            margin-left: 10px;
        }
        }
    }
}