.item-select-wrap{
    background-color: #0E0E1A;
    .ant-empty-description{
        color:#fff;
    }
}

.history-card{
    width: 100%;
    margin-bottom: 50px;
    max-width: 1200px;
    &-item{
       text-align: center;
    }
    .item-title{
        min-width: 200px;
        text-align: right;
    }
    .item-content{
        width: 80%;
        max-width: 600px;
        margin-left: 10px;
       // min-width: 200px
    }
}

.history-content{
    flex-direction: column;
    padding: 20px;
    background: #161725;
    margin: auto;
    border-radius: 60px;
    max-width: 1200px;
}