.default-btn{
    font-family: Helvetica, Helvetica-Bold;
    padding: 12px 40px;
    height: fit-content;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    background: linear-gradient(90deg,#d027fa, #1ba5f8);
  &:hover{
    color: #fff;
    background: linear-gradient(90deg,#d027fa, #1ba5f8) ;
    border: none;
  }

}