


.ant-layout-content{
    background: #0e0e1a;
    display: flex;
}


.default-btn{
    font-family: Helvetica-Bold;
    padding: 12px 40px;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    background: linear-gradient(90deg,#d027fa, #1ba5f8);
  &:hover,&:focus{
    color: #fff;
    background: linear-gradient(90deg,#d027fa, #1ba5f8) ;
    border: none;
  }

}
.default-btn-border{
    cursor: pointer;
     width: fit-content;
    height: 46px;
    border: 1px solid transparent !important;
    border-radius: 6px;
    padding: 12px 40px;
    background-image: linear-gradient(to right, #2e304c, #2e304c), linear-gradient(to right, #d027fa, #1ba5f8) !important;
    .text{
     background: linear-gradient(90deg, #d027fa, #1ba5f8);
    color: transparent;
    -webkit-background-clip: text;
    }
}
.default-border{
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #171822, #171822), linear-gradient(to right, #d027fa, #1ba5f8);
}

.ssv-modal{

      .ant-modal-content{
        padding: 40px 30px;
        background: #2e304c;
        border-radius: 6px;
        .ant-modal-body{
            padding: 0px;
        }
    }
    .ant-modal-footer{
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
//form
.from-content{
       .item-label{
            font-size: 18px;
            font-family: Helvetica-Bold;
            font-weight: 700;
            color: #ffffff;
            }
            .item-select.ant-select-status-success{
            border-radius: 6px;
            border: 2px solid transparent;
                .ant-select-selector{
                border: 1px solid transparent !important;
                background-color: #2E304C !important;
                box-shadow: none !important; 
                color: #fff;
                }
                
            }
            .item-select:not(.ant-select-status-success){
                color: #fff;
                .ant-select-selector{
                    border: 1px solid #949fae;
                    background-color: #2E304C !important;
                    box-shadow: none !important; 
                }
            }
            .ant-select-open{
            border-radius: 6px;
            border: 2px solid transparent;
            .ant-select-selector{
                border: 1px solid transparent !important;
                background-color: #2E304C !important;
                box-shadow: none !important; 
                .ant-select-arrow {
                    color: #fff;
                }
            }
            }
            .show-input{
                border:2px solid transparent;
            
            }
                .item-input:not(.ant-input-status-success){
               border: 1px solid #949fae;
               background: #2e304c;
               color: #fff;
                }
            .ant-input-status-success{
                border: 2px solid #949fae;
                border-radius: 6px;
                background: #2e304c;
                 color: #fff;

            }
            .item-checkbox{
                color: #fff;
                .ant-checkbox-wrapper{
                    color: #fff;
                    font-size: 16px;
                    font-family: Helvetica;
                .ant-checkbox-input{
                    width: 18px;
                    height: 18px;
                }
                }
                
            }

    .from-btns{
        display: flex;
         margin: 0px;
        .ant-form-item-row{
            width: 100%;
           
            .ant-form-item-control-input-content{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
        }
        
    }
}
.item-select-wrap{
    background: #3c3f65;
    border-radius: 6px;
    padding: 6px;
    .ant-select-item{
    color: #fff;
    line-height: 46px;
    border-bottom:  1px solid #949fae;;
    }
    .ant-select-item-option-active{
        background: #303155;
        color: #fff;
    }
}