


.default-btn{
    font-family: Helvetica-Bold;
    padding: 12px 40px;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    background: linear-gradient(90deg,#d027fa, #1ba5f8);
  &:hover,&:focus{
    color: #fff;
    background: linear-gradient(90deg,#d027fa, #1ba5f8) ;
    border: none;
  }

}
.default-btn-border{
    cursor: pointer;
     width: fit-content;
    height: 46px;
    border: 1px solid transparent !important;
    border-radius: 6px;
    padding: 12px 40px;
    background-image: linear-gradient(to right, #2e304c, #2e304c), linear-gradient(to right, #d027fa, #1ba5f8) !important;
    .text{
     background: linear-gradient(90deg, #d027fa, #1ba5f8);
    color: transparent;
    -webkit-background-clip: text;
    }
}
.default-border{
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #171822, #171822), linear-gradient(to right, #d027fa, #1ba5f8);
}